button.btn, a.btn {
    width: 160px;
    height: 45px;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;

    i {
        margin-right: 0.5em;
    }
}

select.custom-form, input.custom-form {
    width: 150px;
    border: 1px solid #d8d8d8cc;
    height: 35px;
    margin: 5px;
    border-radius: 3px;
}

i{
    cursor: pointer;
    transition: all .2s ease-in-out;
}

i:hover {
    transform: scale(1.1);
}

input[type='number'].custom-form{
    width: 55px;
    text-align: right;
}

button.btn:hover {
    transform: scale(1.1);
}

h1 {
    color: #378bab;
}

table {
    border: 1px solid #b1b1b3e0;
    border-collapse: collapse;
    width: 100%;
    text-align: left;

    thead, tbody {
        th, td {
            height: 1.5em;
            border: 1px solid #b1b1b3e0;
            padding: 0.5em;
        }
    }
    tbody {
        td {
            height: 1em;
        }
    }
}

.btn.primary {
    background-color: #378bab;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.center {
    text-align: center !important;
}